In [1]:
import pandas as pd


file_name='gfs.txt'

data=pd.read_csv(file_name)

data.columns

#column names arent real

Index(['KALB   GFS MOS GUIDANCE    9/10/2021  1200 UTC'], dtype='object')

In [2]:
#data.rows doesnt exist

data.loc['CLD':'WDR']

Empty DataFrame
Columns: [KALB   GFS MOS GUIDANCE    9/10/2021  1200 UTC]
Index: []

In [3]:
data.loc[1:2]

      KALB   GFS MOS GUIDANCE    9/10/2021  1200 UTC
1  HR   18 21 00 03 06 09 12 15 18 21 00 03 06 09...
2  N/X                    51          76         ...

In [4]:
data.loc[2:3]

      KALB   GFS MOS GUIDANCE    9/10/2021  1200 UTC
2  N/X                    51          76         ...
3  TMP  69 69 62 58 56 53 57 67 73 74 68 64 63 61...

In [5]:
data.loc[2]
#objects and includes the column names

KALB   GFS MOS GUIDANCE    9/10/2021  1200 UTC    N/X                    51          76         ...
Name: 2, dtype: object

In [6]:
import numpy as np
x=np.array(data.loc[2])

In [7]:
print(x)
print(x[1:5])
#can't slice object array

['N/X                    51          76          60          80    67']
[]

In [8]:
y=np.array(data.loc[9])
y

array(['P12                     1           1           5          19    49'],
      dtype=object)

In [9]:
#stupid object
list=[]
list.append(x)
list.append(y)
print(list)

[array(['N/X                    51          76          60          80    67'],
      dtype=object), array(['P12                     1           1           5          19    49'],
      dtype=object)]