In [25]:
filename="nammos"
import pandas as pd
df=pd.read_csv(filename)

In [26]:
df

       KALB   NAM MOS GUIDANCE    8/30/2021  1200 UTC
0   DT /AUG  30/AUG  31                /SEPT  1   ...
1   HR   18 21 00 03 06 09 12 15 18 21 00 03 06 09...
2   N/X                    63          79         ...
3   TMP  81 81 75 71 67 65 66 73 76 75 69 64 61 58...
4   DPT  70 69 66 65 63 61 61 62 61 60 60 57 56 54...
5   CLD  BK BK SC CL FW FW FW SC BK BK SC FW CL FW...
6   WDR  20 23 26 27 20 23 25 28 28 29 29 28 29 24...
7   WSP  08 09 07 04 02 03 04 07 09 08 07 03 01 01...
8   P06        27     8     4     6     4     6   ...
9   P12                    11           6         ...
10  Q06         0     0     0     0     0     0   ...
11  Q12                     0           0         ...
12  T06     35/17  0/ 6  0/ 1  0/ 4  0/ 9  0/ 4  0...
13  T12           35/17        0/ 4        0/10   ...
14  CIG   6  6  8  8  8  8  8  8  7  8  8  8  8  8...
15  VIS   7  7  7  7  7  7  7  7  7  7  7  7  7  7...
16  OBV   N  N  N  N  N  N  N  N  N  N  N  N  N  N...

In [37]:
select = df.loc[df[15] == 'visibility']
print(select)

KeyError: 15

In [33]:
print(df)

       KALB   NAM MOS GUIDANCE    8/30/2021  1200 UTC
0   DT /AUG  30/AUG  31                /SEPT  1   ...
1   HR   18 21 00 03 06 09 12 15 18 21 00 03 06 09...
2   N/X                    63          79         ...
3   TMP  81 81 75 71 67 65 66 73 76 75 69 64 61 58...
4   DPT  70 69 66 65 63 61 61 62 61 60 60 57 56 54...
5   CLD  BK BK SC CL FW FW FW SC BK BK SC FW CL FW...
6   WDR  20 23 26 27 20 23 25 28 28 29 29 28 29 24...
7   WSP  08 09 07 04 02 03 04 07 09 08 07 03 01 01...
8   P06        27     8     4     6     4     6   ...
9   P12                    11           6         ...
10  Q06         0     0     0     0     0     0   ...
11  Q12                     0           0         ...
12  T06     35/17  0/ 6  0/ 1  0/ 4  0/ 9  0/ 4  0...
13  T12           35/17        0/ 4        0/10   ...
14  CIG   6  6  8  8  8  8  8  8  7  8  8  8  8  8...
15  VIS   7  7  7  7  7  7  7  7  7  7  7  7  7  7...
16  OBV   N  N  N  N  N  N  N  N  N  N  N  N  N  N...

In [41]:
print(df[1:16])

       KALB   NAM MOS GUIDANCE    8/30/2021  1200 UTC
1   HR   18 21 00 03 06 09 12 15 18 21 00 03 06 09...
2   N/X                    63          79         ...
3   TMP  81 81 75 71 67 65 66 73 76 75 69 64 61 58...
4   DPT  70 69 66 65 63 61 61 62 61 60 60 57 56 54...
5   CLD  BK BK SC CL FW FW FW SC BK BK SC FW CL FW...
6   WDR  20 23 26 27 20 23 25 28 28 29 29 28 29 24...
7   WSP  08 09 07 04 02 03 04 07 09 08 07 03 01 01...
8   P06        27     8     4     6     4     6   ...
9   P12                    11           6         ...
10  Q06         0     0     0     0     0     0   ...
11  Q12                     0           0         ...
12  T06     35/17  0/ 6  0/ 1  0/ 4  0/ 9  0/ 4  0...
13  T12           35/17        0/ 4        0/10   ...
14  CIG   6  6  8  8  8  8  8  8  7  8  8  8  8  8...
15  VIS   7  7  7  7  7  7  7  7  7  7  7  7  7  7...

In [44]:
k=df[2:5]
print(k)

      KALB   NAM MOS GUIDANCE    8/30/2021  1200 UTC
2  N/X                    63          79         ...
3  TMP  81 81 75 71 67 65 66 73 76 75 69 64 61 58...
4  DPT  70 69 66 65 63 61 61 62 61 60 60 57 56 54...

In [47]:
df.head()

      KALB   NAM MOS GUIDANCE    8/30/2021  1200 UTC
0  DT /AUG  30/AUG  31                /SEPT  1   ...
1  HR   18 21 00 03 06 09 12 15 18 21 00 03 06 09...
2  N/X                    63          79         ...
3  TMP  81 81 75 71 67 65 66 73 76 75 69 64 61 58...
4  DPT  70 69 66 65 63 61 61 62 61 60 60 57 56 54...